<footer>
    <div>
        <span>Lorem ipsum dolor sit amet.</span>
    </div>
    <div class="social">
        <a href="">
                <i class="fab fa-google-plus-g"></i>
        </a>
        <a href="">
                <i class="fab fa-facebook-square"></i> 
        </a>
        <a href="">
                <i class="fab fa-twitter"></i>
        </a>
        <a href="">
                <i class="fab fa-linkedin-in"></i>
        </a>
    </div>
    <div>
        <span>Charlote, North California</span>
    </div>
</footer>
