<div class="item">
    <div class="item-img">
        <img src="../../assets/images/dish.png" alt="">
        <a routerLink="form-recepi">
                <i class="far fa-sticky-note"></i>
        </a>
    </div>
    <div class="item-desc">
        <h4>griled peach salad</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam dignissimos voluptatem architecto facilis quisquam incidunt nulla, accusantium atque saepe rem!</p>
    </div>
    <div class="item-likes">
        <img src="../../assets/images/star.png" alt="">
        <img src="../../assets/images/star.png" alt="">
        <img src="../../assets/images/star.png" alt="">
        <img src="../../assets/images/star.png" alt="">
        <img src="../../assets/images/star.png" alt="">
    </div>
</div>
<div class="item" style="
padding: 0 5px">
    <div class="item-img">
        <img src="../../assets/images/dish.png" alt="">
        <a routerLink="form-recepi">
                <i class="far fa-sticky-note"></i>
        </a>
    </div>
    <div class="item-desc">
        <h4>griled peach salad</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam dignissimos voluptatem architecto facilis quisquam incidunt nulla, accusantium atque saepe rem!</p>
    </div>
    <div class="item-likes">
        <img src="../../assets/images/star.png" alt="">
        <img src="../../assets/images/star.png" alt="">
        <img src="../../assets/images/star.png" alt="">
        <img src="../../assets/images/star.png" alt="">
        <img src="../../assets/images/star.png" alt="">
    </div>
</div>
<div class="item">
    <div class="item-img">
        <img src="../../assets/images/dish.png" alt="">
        <a routerLink="form-recepi">
                <i class="far fa-sticky-note"></i>
        </a>
    </div>
    <div class="item-desc">
        <h4>griled peach salad</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam dignissimos voluptatem architecto facilis quisquam incidunt nulla, accusantium atque saepe rem!</p>
    </div>
    <div class="item-likes">
        <img src="../../assets/images/star.png" alt="">
        <img src="../../assets/images/star.png" alt="">
        <img src="../../assets/images/star.png" alt="">
        <img src="../../assets/images/star.png" alt="">
        <img src="../../assets/images/star.png" alt="">
    </div>
</div>
<div class="item">
    <div class="item-img">
        <img src="../../assets/images/dish.png" alt="">
        <a routerLink="form-recepi">
                <i class="far fa-sticky-note"></i>
        </a>
    </div>
    <div class="item-desc">
        <h4>griled peach salad</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam dignissimos voluptatem architecto facilis quisquam incidunt nulla, accusantium atque saepe rem!</p>
    </div>
    <div class="item-likes">
        <img src="../../assets/images/star.png" alt="">
        <img src="../../assets/images/star.png" alt="">
        <img src="../../assets/images/star.png" alt="">
        <img src="../../assets/images/star.png" alt="">
        <img src="../../assets/images/star.png" alt="">
    </div>
</div>
<div class="item" style="
padding: 0 5px">
    <div class="item-img">
        <img src="../../assets/images/dish.png" alt="">
        <a routerLink="form-recepi">
                <i class="far fa-sticky-note"></i>
        </a>
    </div>
    <div class="item-desc">
        <h4>griled peach salad</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam dignissimos voluptatem architecto facilis quisquam incidunt nulla, accusantium atque saepe rem!</p>
    </div>
    <div class="item-likes">
        <img src="../../assets/images/star.png" alt="">
        <img src="../../assets/images/star.png" alt="">
        <img src="../../assets/images/star.png" alt="">
        <img src="../../assets/images/star.png" alt="">
        <img src="../../assets/images/star.png" alt="">
    </div>
</div>
<div class="item">
    <div class="item-img">
        <img src="../../assets/images/dish.png" alt="">
        <a routerLink="form-recepi">
                <i class="far fa-sticky-note"></i>
        </a>
    </div>
    <div class="item-desc">
        <h4>griled peach salad</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam dignissimos voluptatem architecto facilis quisquam incidunt nulla, accusantium atque saepe rem!</p>
    </div>
    <div class="item-likes">
        <img src="../../assets/images/star.png" alt="">
        <img src="../../assets/images/star.png" alt="">
        <img src="../../assets/images/star.png" alt="">
        <img src="../../assets/images/star.png" alt="">
        <img src="../../assets/images/star.png" alt="">
    </div>
</div>
