<form>
    <div class="form-wraper">
            <div>
                    <label>Add picture</label>
                    <input type="text" placeholder="Enter the picture URL">
                </div>
                <div>
                    <label>Title</label>
                    <input type="text" placeholder="Write your title here">
                </div>
                <div>
                    <label>Description</label>
                    <input type="text" placeholder="Write your text here">
                </div>
    </div>

    <a href="">Submit</a>
    
</form>